.card{


    width: 30VW;
    min-width: 320px;

    background-color: rgba(37, 37, 37, 0.5); /* Rojo con 50% de opacidad */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */

}

.body{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,69,1) 35%, rgba(0,212,255,1) 100%);
}


.img{



    border-radius: 50%;
    width: 80px;
    height: 80px;

}

.img-mypantalla{

    justify-content: center;
    display: flex;

}


.title_intranet{


    color: rgb(255, 255, 255);


}